html body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

nav {
    background: transparent;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    padding: 2rem 2rem;
    font-size: 1.5em;
}

li a {
    color: white;
}

.first {
    height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(320deg, white 60%, blue 20%);
}



.second {
    height: 100vh;
    box-sizing: border-box;
    background-color: blue;
}

.third {
    height: 100vh;
    box-sizing: border-box;
    background-color: grey;

}